:root{
    --colorClaro: #eca90b;
    --colorOscuro: black;
    --letraOscura: black; 
    --letraClara: white;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    background-color: var(--colorOscuro);
    padding: 20px;
    display: flex;
    justify-content:center;
    gap: 30px;
    height: 30vh;
}
.header__imagen{
    border-radius:5px;
    width: 60px;
    height: 75px;
}
.header__titulo{
    color: white; 
}
.main{
    background-color: var(--colorClaro);
    display: flex;
    justify-content: center;
    padding: 0px 20px 0px 0px;
    line-height: 1.4;
    
}
.aside{
    background-color: var(--colorOscuro);
    color: var(--letraClara);
    padding: 10px;
}
.aside__vinculo::before{
    content: "- ";    
}
.principal{
    padding: 10px;

}
.footer{
    background-color: var(--colorOscuro);
    padding: 10px;
}
.footer__redSocial{
    text-decoration: none;
    color: white;
}