:root{
    --colorClaro: #eca90b;
    --colorOscuro: black;
    --letraOscura: black; 
    --letraClara: white;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
;
}
.header{
    background-color: var(--colorOscuro);
    padding: 20px;
    display: flex;
    justify-content:center;
    gap: 30px;
    height: 30vh;
}
.header__imagen{
    border-radius:5px;
    width: 60px;
    height: 75px;
}
.header__titulo{
    color: white; 
}
.main{
    background: linear-gradient(var(--colorOscuro),var(--colorClaro));
    display: flex;
    justify-content: center;
    padding: 30px 10px;
    padding-left: 0px;
    line-height: 1.4;
    color: var(--letraClara);
}
.aside{
    padding: 10px;
    background:linear-gradient(var(--colorClaro),var());
    /* background: conic-gradient(#e38f2f,yellow, #3dffa1); */
    /* background: radial-gradient(circle, var(--colorClaro),var(--colorOscuro)); */
    color: var(--letraClara);
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
}
.aside__vinculo::before{
    content: "- ";    
}
.aside__vinculo:hover{
    border-bottom: 1px solid var(--colorClaro);
}
.principal{
    padding: 10px;

}
.footer{
    background-color: var(--colorOscuro);
    padding: 10px;
}
.footer__redSocial{
    text-decoration: none;
    color: white;
}